body {
    background-color: pink;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.zoze {
    width: 300px;
    margin: 20px auto;  /* يوسّط المربع أفقيًا */
    padding: 20px;
    background-color: white;
    border: 5px solid #FF3C38;
    border-radius: 20px;
    text-align: center;
}


button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin: 5px;
}

.yes-btn { background-color: #FF3C38; }
.no-btn  { background-color: #4CAF50; }
.zoz{ 
    width: 300px;
    margin: 20px auto;  
    padding: 20px;
    background-color: white;
    border: 5px solid #ff5452;
    border-radius: 20px;
    text-align: center;
} 
header h1, 
header h3{ 
    color: #332958; 
    font-size: 28px; 
    margin:10px; 
} 
header p{ 
    color:#332958; 
    font-size: 20px; 
    margin:10px; 
} 
.why{ 
    width: 300px;
    margin: 35px auto;  
    padding: 20px;
    background-color: white;
    border: 5px solid #FF3C38;
    border-radius: 20px;
    text-align: center; 
}  
.yes-btn { background-color: #00ff2a; } 
.sad{ 
    width:100%;
    height: 100%;
    margin-bottom: 15px;  
    object-fit: cover;
    
}
.you{ 
    width: 300px;
    margin: 20px auto;  /* يوسّط المربع أفقيًا */
    padding: 20px;
    background-color: white;
    border: 5px solid #FF3C38;
    border-radius: 10px;
    text-align: center; 
}  
.kitty{ 
    width:80%;
    height: 100%;
    margin-bottom: 15px;  
    object-fit: cover;
}

.noo{ 
    background-color: red;
} 
.no-btn{ 
    background-color: red;
} 
.namee{ 
    width: 300px;
    margin: 20px auto;  
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 5px solid #FF3C38;
    border-radius: 10px;
    text-align: center;  
    
} 
.name{ 
    width:80%; 
    height:100%;
} 
